*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-box{
    margin-left: 10%;
    width: 500px;
    height: 410px;
    border: solid 1px;
    text-align: center;
}
h2{
 padding-top: 20px;   
}
.title{
    width: 100%;
    text-align: right;
    padding-right: 5px;
}
.students-box{
    margin-top: 10%;
}
.name-box{
    padding-left: 5px;
    margin-top: 5%;
    width: 100%;
    text-align: left;
}
hr {
    margin-top: 5px;
    width: 55%;
    border: solid red;
}

