.main-box{
    width: 500px;
    height: 250px;
    border: solid 1px;
    padding-left: 10px;
}
h1{
    text-decoration: overline;
}
h2{
    text-decoration: line-through;
}
h3{
    text-decoration: underline;
}