.main-box{
    width: 500px;
    height: 700px;
    border: solid 1px;
}
.items{
    margin-left: 10px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 32px;
}
.rectangle{
    width: 180px;
    height: 140px;
    background-color: darkred;
}
.items > .item:nth-child(1) > .rectangle{
    border-radius:15px 50px 30px 5px;
}
.items > .item:nth-child(2) > .rectangle{
    border-radius:15px 50px 30px;
}
.items > .item:nth-child(3) > .rectangle{
    border-radius:15px 50px;
}