
.main-box{
    width: 500px;
    height: 250px;
    border: solid 1px;
}
p{
    font-size: 24px;
    padding-left: 10px;
}
p:nth-child(2){
    font-style: italic;
    font-size: 28px;
}
p:nth-child(3){
    font-style: oblique;
}