.main-box{
    width: 500px;
    height: 630px;
    border: solid 1px;
}
.title{
    padding-left: 10px;
}
.border-list-box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.list-item{
    width: 98%;
    border: solid cyan;
}
.list-item:nth-child(1){border-style: dotted;}
.list-item:nth-child(2){border-style: dashed;}
.list-item:nth-child(3){border-style: solid;}
.list-item:nth-child(4){border-style: double;}
.list-item:nth-child(5){border-style: groove;}
.list-item:nth-child(6){border-style: ridge;}
.list-item:nth-child(7){border-style: inset;}
.list-item:nth-child(8){border-style: outset;}
.list-item:nth-child(9){border: none;}
.list-item:nth-child(10){border: hidden;}
.list-item:nth-child(11){border-style: dotted solid dotted solid;}
