.main-box{
    width: 580px;
    height: 830px;
    border: solid 1px;
}
h4{
    padding-left: 10px;
}
.main-item{
    display: grid;
    grid-template-columns: auto;
    row-gap: 32px;
}
.main-item{
    margin-left: 10px;
}
.rectangle {
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    width: 180px;
    height: 140px;
    border: solid 1px;
    background-color: darkred;
}

